.footer-section
{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    background-color: #0E0D0A;
    padding: 0 70px;
}
.footer-section-dark
{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    background-color: #000000;
    padding: 0 70px;
}
.footer-section-one
{
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.3);
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: start;
}
.footer-section-one span
{
    position: relative;
    transition: .5s;
    cursor: pointer;
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 1.5rem;
}
.footer-section-one span::before
{
    content: '';
    width: 0;
    height: 1px;
    background-color: #b58b67;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .8s;
}
.footer-section-one span:hover::before
{
    width: 100%;
}
.footer-section-three
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid rgba(255,255,255,.3);
}
.footer-section-three span
{
    transition: .7s;
    font-family: Jost, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #cecece;
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 1.5rem;
    cursor: pointer;
}
.footer-section-three span:hover
{
    color: #fff;
}
.footer-section-two
{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.footer-section-two img
{
    width: 60%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 767px)
{
    .footer-section-three span
    {
        display: none;
    }
    .footer-section-two img
    {
        width: 90%;
        transform: translateY(-50%);
    }
    .footer-section-one
    {
        padding-left: 30px;
    }
}
.footer-square
{
    position: relative;
}
.footer-square::before
{
    content: '';
    width: 7px;
    height: 7px;
    background-color: transparent;
    border: 1px solid #b58b67;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}